<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>VisuBuy</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>marketplace_3d</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <key>NSCameraUsageDescription</key>
    <string>Necesitamos acceso a la cámara para tomar fotos de tus productos y para la vista de realidad aumentada.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a tus fotos para que puedas elegir imágenes de productos desde la galería.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Permítenos guardar las capturas de AR que tomes desde la app.</string>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>

    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
</dict>
</plist>
